*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.el-header {
    background-color: #9FCCD7;
    color: #333;
    line-height: 60px;
}

.el-aside {
    color: #333;
}
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}
.el-table thead {
    color: #5e5f62;
    font-weight: 500;
}